<?xml version="1.0" encoding="utf-8"?>
                            <manifest xmlns:android="http://schemas.android.com/apk/res/android"
                                package="com.SelfProject.IdleGame">

                                <application>
                                    <meta-data
                                        android:name="com.google.android.gms.ads.APPLICATION_ID"
                                        android:value="ca-app-pub-3482755551904464~4916670743"/>
                                </application>

                            </manifest>